<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite"  >
    <listeners>
        <listener class-name="com.dasb.Listeners"></listener>
    </listeners>

    <test  name="validate user login">
        <classes>
            <class name="com.dasb.HomePageTest"/>
        </classes>
    </test>

    <test name="validate title in page">
        <classes>
            <class name="com.dasb.ValidateTitle"/>
        </classes>
    </test>

    <test name="validate Navigation bar">
        <classes>
            <class name="com.dasb.ValidateMainNavigationBar"/>
        </classes>
    </test>

</suite>